
#botao{
    border-width: 2px;
    width:90px;
	height:25px;
	border-radius: 5px;
    margin-left: 34%;
}

.estilo{
    border-width: 2px;
    width:500px;
	height:25px;
    font-family: Arial;
    
}

.menu-vertical {
    width: 200px; /* Set a width if you like */
}

.menu-vertical a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-family: Arial;
    height: 100px;
    text-align: center;
    margin-bottom: -20px;
    
}

.menu-vertical a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
    
}

.menu-vertical a {
    background-color: white; /* Add a green color to the "active/current" link */
    color: black;
    border: solid;
    border-width: 1px;
    width: 250px;
    height: 90px;
    
}

.direita {
 display: inline;
 width: 60%;
 float: right;
}

.direita{
    border-width: 2px;
    border-width: 2px;
	height:25px;
    font-family: Arial;
    
}

.direita-menu {
 display: inline;
 width: 60%;
 float: right;
}

.direita-menu{
    border-width: 2px;
    border-width: 2px;
	height:25px;
    font-family: Arial;
}

.direita-acesso {
 display: inline;
 width: 60%;
 float: right;
 margin-right: 170px;
}

.direita-acesso{
    border-width: 2px;
    border-width: 2px;
	height:25px;
    font-family: Arial;
    margin-left: 10px;
}

.direita-cardapio {
 display: inline;
 width: 60%;
 float: right;
 margin-right: 170px;
 line-height: 25px;
 
}

.direita-cardapio{
    border-width: 2px;
    border-width: 2px;
	height:25px;
    font-family: Arial;
    
}

#botao-cardapio{
    border-width: 2px;
    width:90px;
	height:25px;
	border-radius: 5px;
    margin-left: 36.5%;
}

#dia{
    border-width: 2px;
    width:250px;
	height:25px;
	border-radius: 5px;
    padding-left: 2px;
}

#textarea{
    width: 245px;
    height: 80px;
}
#turno{
    padding-left: 25px;
}


